*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0f1111;
}
.containers{
    height: 90vh;
    width: 35vw;
    border: 2px solid black;
    border-radius: 50px;
    position: relative;
    background-color: white;
}
.title{
    height: 20%;
   border-top-right-radius: 47px;
    border-top-left-radius: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.title h2{
    font-size: 3.5rem;
    font-weight: 600;
    color: white;
}
.main{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inp{

    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inp input{
    height: 70px;
    width: 90%;
    border: 1px solid rgba(128, 128, 128, 0.808);
    border-radius: 10px;
    font-size: 1.33rem;
    font-weight: 400;
    padding-left: 15px;
}

.create{
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 15px;
    right: 22px;
}
.btns{
    padding: 15px 20px;
    font-size: 1.33rem;
    font-weight: 500;
    border-radius: 10px;
    background-color: #dc3545;
    border: none;
    color: white;
}
.li{
    text-decoration: none;
    color: black;
    list-style: circle;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}
#parent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: center; */
    width: 90%;
    padding-top: 15px;
    gap: 15px;
}